[Unit]
Description=grammophon
After=multi-user.target

[Service]
Type=forking
WorkingDirectory=/home/pi/grammophon/
ExecStart=/bin/bash yarn start
KillMode=process

[Install]
WantedBy=multi-user.target