[Unit]
Description=grammophon
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/yarn --cwd /home/pi/grammophon start

[Install]
WantedBy=multi-user.target